body{
    background-color:#E8A87C;
    font-family:Arial, Helvetica, sans-serif;
}
.hd{
    background-color: #262626 ;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 0.5cm;
    padding-bottom: 0.3cm;
    color:white;
   

}
.info{
    background-color:rgb(233, 212, 212);
    color:#474a56;
    padding:1cm 4cm 1cm 7cm;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-bottom: 1cm;
    margin-top: 1cm;
}



.query{
    color:#474a56;
    padding:1cm 4cm 1cm 7cm;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-bottom: 1cm;
    background-color:rgb(233, 212, 212);
}
.about{
   padding-left: 10cm;
   padding-right: 10cm;
   padding-bottom: 1cm;
   color:#474a56;
}
.contact{
    padding-top: 0.5cm;
    padding-bottom: 1cm;
    padding-left: 25cm;
    background-color: #262626 ;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}
.aboutus{
    
    background-color:rgb(233, 212, 212);
    color:#474a56;
    padding-left: 1cm;
   padding-right: 1cm;
   padding-bottom: 0.5cm;
   padding-top: 0.5cm;
   margin-left: 3cm;
    margin-right: 3cm;
    font-size: 20px;
   
}
.aboutus2{
    background-color: #262626 ;
    color:white;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    margin-left: 3cm;
    margin-right: 3cm;
    font-size: 20px;
}
p1{
    padding-left: 3cm;
    float:left;
}
p2{
    margin-left: 4cm;
    margin-right: 4cm;
}